html, body {
    margin: 0;
    padding: 0;
    font-size: 120%;
    font-family: sans-serif;
    text-align: center;
}
header {
    color: #fff;
    background-color: #000;
    padding-bottom: 2%;
    font-family: serif;
}
header img {
    display: block;
    width: 10%;
    margin: 0 auto;
}
h1 {
    margin: 0;
    padding: 2% 0;
    text-align: center;
}
h2, p {
    text-align: center;
}

/***************************
*   flexbox navigation     *
***************************/
#flexbox {
    display: flex;
    width: 100%;
    flex-direction: row-reverse;
    box-sizing: border-box;
}
nav {
    display: flex;
    flex-direction: column;
    width: 35%;
}
a {
    color: black;
    text-decoration: none;
    background-color: #8E98BF;
    border-width: 4px;
    border-top-width: 0;
    border-style: solid;
    border-color: #51576E;
    padding: 4%;
}
a:hover {
    color: white;
    background-color: #51576E;
    border-color: #B9C7FA;
}
#active {
    color: black;
    background-color: #B9C7FA;
    border-color: #51576E;
}
#active:hover {
    border-color: #B9C7FA;
}