/* full screen */
body, html {
	margin: 0;
	padding: 0;
	font-family: Arial, sans-serif;
	width: 100%;
	height: 100%;
	overflow: hidden;
}
body * {
	box-sizing: border-box;
}

/* headline */
header {
	height: 14%;
	padding: 2% 0;
	text-align: center;
	color: #fff;
	background: linear-gradient(141deg, #0fb8ad 0%, #1fc8db 51%, #2cb5e8 75%);
}
header h1 {
	font-size: 200%;
	margin: 0;
}

/* background */
#water {
	width: 100%;
	height: 86%;
	display: block;
	background: url("./water-liquid-texture.jpg");
	background-size: cover;
	background-repeat: no-repeat;
	position: relative;
}

/* sailing ship */
@keyframes sailing_ship {
	/* first exercise */
	9% {top:2%; left:88%;}
	18% {top:75%; left:88%;}
	27% {top:75%; left:2%;}
	36% {top:2%; left:2%;}
	40% {transform: rotateY(360deg);}
	/* second exercise*/
	45% {top:75%; left:88%;}
	54% {top:2%; left:88%;}
	60% {transform: rotateY(180deg);}
	63% {top:75%; left:2%;}
	72% {top:2%; left:2%;}
	/* third exerecise */
	76% {transform: rotateY(360deg);}
	81% {top:40%; left:60%;}
	86% {transform: rotateY(180deg);}
	90% {top:75%; left:20%;}
	95% {transform: rotateY(180deg);}
}

figure {
	width: 10%;
	margin: 0;
	position: absolute;
	top: 2%;
	left: 2%;
	animation-name: sailing_ship;
	animation-duration: 15s;
	animation-timing-function: linear;
}

/* simulate waves */
/* --> keyframe missing */
@keyframes wave_simulation {
	30% {transform: rotate(-10deg);}
	50% {transform: rotate(10deg);}
	80% {transform: rotate(-10deg);}
}

figure img {
	width: 100%;
	height: auto;
	transform: rotate(0deg);
	/* --> animation missing */
	animation-name: wave_simulation;
	animation-duration: 2s;
	animation-iteration-count:infinite;
}